.btn {
    height: 30px;
    width: 100px;
    margin-top: 10px;
    padding: 0;
    cursor: pointer;
    border-radius: 6px;
    border: solid 1px #14a5cd;
    background: linear-gradient(to right, #37b7e0, #058dbf);
    color: #fff;
}